* {
    margin: 0;
    padding: 0;
  }

body {
    align-items: center;
    contain: content;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

#canvas-wrapper {
    align-items: center;
    display: flex;
    height: 410px;
    justify-content: center;
    margin: auto;
    width: 800px;
}

#canvas {
    border: solid black;
}

#title {
    display: block;
    margin: 30px;
    text-align: center;
}

#title h1 {
    color: #77212e;
}